

/*
* Master Styles
*/
html,

 body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #473a5d, #7c82cf, #494169, #434d6e);
      background-size: 200% 200%;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*
* Nav Styles
*/
.nav-wrapper {
    /* flex allows a div to not stack it's elements and instead display them next to eachother  */
    display: flex; 
    border-bottom: 4px dotted;

}

.nav-link-wrapper {  
    padding-left: 20px; /* adds padding on the outside of the content */
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;

    align-items: center;
    color: #000000;
    text-decoration: none;
}

.nav-link-wrapper:hover {
    background-color: #8582828e;
    
    cursor: pointer;
}

/*
* Title Styles
*/
.heading-wrapper {
    text-align: center;
}

.title{
    background: linear-gradient(45deg, #f1eded8e, #3d3b3b, #141414, #554f4f8e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*
* Portfolio Styles
*/

.portfolio-header-wrapper {
   display: grid;
   position: relative;
  
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*places each portfolio item in their own column (3 columns)*/
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    transition: 0.3s;
    filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item-wrapper {
    font-size: 110%;
    position: relative;
    color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    filter: brightness(2);
}

.portfolio-item-wrapper:hover {
    color: rgb(255, 255, 255);
    filter: brightness(1);
}


.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    resize: none;
    flex-direction: column;
    justify-content: center; /* left to right */
    align-items: center; /* top to bottom */
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}


h1 {
    font-family: LemonMilk;
    font-weight: 75;
    font-size: 370%;
    color: #e4e4e4;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}

p{
    font-family: LemonMilk;
    font-weight: 75;
    font-size: 120%;
    color: #e4e4e4;
    text-decoration-thickness: 3px;
}

@font-face {
    font-family: 'LemonMilk';
    src:url(fonts/LemonMilk.otf);
    font-style: normal;
    font-weight: 75;
}

