html,

html{
    
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 1800px;
    background: linear-gradient(0deg, #736380, #494169, #3e265e,#351f49, #2a1947);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment:fixed;
    z-index: -1px;
    position: relative;
    margin: 0px;
    padding: 0px;

    font-family: code;

}

.content-wrapper{
    position: absolute;
    display: grid;
    height: 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;

    /*this centers the div*/ 
    top:400px;
    margin-top: -200px;

}

/* 
    NAV BAR
*/
.nav-wrapper {
    /* flex allows a div to not stack it's elements and instead display them next to eachother  */
    display: flex; 
    border-bottom: 4px dotted;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /*Div stays in front of others */
    z-index: 1;
    background-color: #2a1947;
}

.nav-link-wrapper {  
    padding-left: 20px; /* adds padding on the outside of the content */
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;

    align-items: center;
    color: #000000;
    text-decoration: none;

    font-family: code;
    font-weight: 75;
    font-size: 15px;
    color: #e4e4e4;
}

.nav-link-wrapper:hover {
    background-color: #8582828e;
    cursor: pointer;
}


/*
    GREETING
*/
.greeting-wrapper{
    display: flex;
    justify-content: center;
}

.subtitle-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.heading-wrapper h1 {
    font-weight: 75;
    font-size: 5vw;
    color: #e4e4e4;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}

.heading-wrapper p{
    font-family: code;
    font-weight: 75;
    font-size: 2.4vw;
    color: #e4e4e4;
    text-decoration-thickness: 3px;
}

@font-face {
    font-family: 'code';
    src:url(fonts/CascadiaCode-jEZzj.ttf);
    font-style: normal;
    font-weight: 75;
}

.subtitle-wrapper p {
    opacity: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation:
      typing-opacity forwards,
      typing 2s steps(20, end),
      blink-caret .75s step-end infinite;
    animation-delay: 4.4s;
  }

  .greeting-wrapper p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: 
      typing-greet 1s steps(14, end),
      blink-caret-greet .75s step-end 2;
  }
  
  .name-wrapper h1{
    opacity: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
      typing-opacity forwards,
      typing-name 2s steps(25, end),
      blink-caret-name .75s step-end 3s;
    animation-delay: 2s;
  }
  
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 33vw }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}

@keyframes typing-greet {
    from { width: 0 }
    to { width: 15vw }
}
@keyframes blink-caret-greet {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}

@keyframes typing-name {
    from { width: 0 }
    to { width: 59vw }
}
@keyframes blink-caret-name {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}

@keyframes typing-opacity {
    from {opacity: 0}
    to {opacity: 100}
}


/*
    ABOUT ME
*/

    .about-me-wrapper h1{
        font-family: code;
        font-weight: 75;
        font-size: 3vw;
        color: #2a1947;
        text-decoration:underline;
        text-decoration-thickness: 3px;
    }

    .about-me-wrapper{
        background-color:rgb(255, 255, 255);
        display: grid;
        width:100%;
        position: relative;
        text-align:center;
        top: 570px;
    }

    .about-me-description{
        display: flex;
    }

    .about-me-text{
        width:50%;
        padding-right: 0px;
    }

    .about-me-text img{
        height:auto;
        max-width:100%;
    }

    .senior-photo{
        width:50%;
    }
    .senior-photo img{
        height:auto;
        max-width:60%;
        padding-left: 0px;
    }

/*
    PROJECTS
*/
    .hover{
        color:#e4e4e4;        
    }

    .projects-wrapper h1{
        font-family: code;
        font-weight: 75;
        font-size: 3vw;
        color: #ece8e8;
        text-decoration:underline;
        text-decoration-thickness: 3px;
    }

    .projects-wrapper{
        display: grid;
        width:100%;
        position: relative;
        text-align:center;
        top: 600px;
    }

    .portfolio-header-wrapper {
        display: grid;
        position: relative;
       
     }
     
     .portfolio-items-wrapper {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr; /*places each portfolio item in their own column (3 columns)*/
         padding-bottom: 50px;
     }
     
     .portfolio-img-background {
         height: 25vw;
         width: 100%;
         transition: 0.3s;
         filter: brightness(0.5);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
     }
     
     .portfolio-item-wrapper {
         font-size: 1.2vw;
         position: relative;
         color: rgba(255, 255, 255, 0);
         transition: 0.3s;
         filter: brightness(2);
     }
     
     .portfolio-item-wrapper:hover {
         color: rgb(255, 255, 255);
         filter: brightness(1);
     }
     
     
     .img-text-wrapper {
         position: absolute;
         top: 0;
         display: flex;
         resize: none;
         flex-direction: column;
         justify-content: center; /* left to right */
         align-items: center; /* top to bottom */
         height: 100%;
         text-align: center;
     }

/*
SURVEY RESULTS
*/
     .third-section{
        background-color:rgb(255, 255, 255);
        top: -200px;
     }

     .third-section h1{
        color: #2a1947;
     }

     .personal-study-results-wrapper{
         display: flex;
     }

     .study-content-wrapper{
         width: 50%;
     }

     .study-content-wrapper p{
         padding-left: 20px;
     }

     .mbti-header{
         display:flex;
         font-size: 2.5vw;
     }

     .mbti-image{
        height: 25vw;
        width: 50%;
        background-size: 100%;
        background-position:center;
        background-repeat: no-repeat;
     }

     .sii-header{
         display:flex;
         font-size: 2.5vw;
     }
     .sii-image{
         height: 25vw;
         width: 50%;
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
     }

     .fourth-section h2{
         font-size:2vw;
         font-style: italic;
     }

     .mission-statement-2 p{
         font-size: 1.6vw;
     }

     .elevator-pitch p{
        font-size: 1.6vw;
     }

     .fourth-section h3{
         color:rgb(255, 255, 255);
         font-size: 1.5vw;
         text-decoration: underline;
     }




     .fifth-section{
         background-color:white
     }
     .fifth-section h1{
         color:#2a1947;
     }
     .exploration-hover{
         color:#2a1947;
     }
     .exploration-portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; /*places each portfolio item in their own column (2 columns)*/
        padding-bottom:200px;
    }


    
  
